body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

h1{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    margin-top: -17px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.selection{
    width: 100%;
}

span{
    font-family: "Lucida Sans", sans-serif;
}

.container {
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}

.fullcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    width: 100%;
    background-color: #45a049;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button a{
    color: white;
    text-decoration: none;
}

footer{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
}

footer p,a,address{
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#map{
    width: 100%;
    height: 400px;
    background-color: gray;
}

/*footer a{*/
    /*color: white;*/
    /*text-decoration: none;*/
    /*font-family: 'Noto Sans JP', sans-serif;*/
/*}*/

/*footer address{*/
    /*color: white;*/
    /*text-decoration: none;*/
    /*font-family: 'Noto Sans JP', sans-serif;*/
/*}*/